
  
html {
      background:#018DED url(https://images.unsplash.com/photo-1503365113766-4a362681eac5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=79cf794378a008ab1d74b8e612d72ad0&auto=format&fit=crop&w=750&q=80);
      background-size:cover;
    }

body {
      margin: 0;
      font-size: 2rem;
      min-height: 100vh;
      align-items: center;
    }
    
    /* Digital Data */
    
    #digital-date{
      margin: 5px auto;
      width: 50%;
      height: 50%;
      border-radius: 5px;
      background-color: black;
      color: white;
      text-align: center;
      padding-top: 10px;
      font-family: digital-7;
      font-size: 100%;
      
    }
    
   
/*Time Zone*/
    .timeZone{
      color:red; 
      text-align: center;
      text-align: center;
     
    }

   /*Grid*/
   .container{
    /*  display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2px;  */
    
  /*   display: flex;
    flex-wrap: nowrap; */
  }

  /*Analogic Clock*/
    .clock{
      /* width: 30rem;
      height: 30rem;  */
      border:15px solid black;
      border-radius:50%; 
      /* padding:2rem; */
      background-color: white; 

      margin: 20px auto 0 auto;
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      width: 500px;
      height: 500px;
      justify-content: center;

  
      
  }
  
    .center{
      background-color: #000;
      position: absolute;
      left: calc(50% - 10px);
      top:  calc(50% - 10px);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      z-index: 20;
    }
    
	
      .clock-face {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translateY(-3px); /* account for the height of the clock hands */
    }   
     .hour-hand{
      width:34%;
      height:8px;
      background:yellow;
      position: absolute;
      top:49%;
      right:65%;
      left:16%;
      transform-origin: 100%;
      transform: rotate(90deg);
      
     }

      .min-hand{
      width:50%;
      height:6px;
      background:black;
      position: absolute;
      top:50%;
      transform-origin: 100%;
      transform: rotate(90deg);
    }

    .second-hand{
      width:60%;
      height:5px;
      background:red;
      position: absolute;
      top:49%;
      left:2%;
      transform-origin: 80%;
      transform: rotate(90deg);
    } 

    .clock ul{
      list-style: none;
      padding: 0;
  }

  .clock ul li{
    position: absolute;
    width:40%;
    height:40%;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    color:red;
}

.clock ul li:nth-child(1){
  left: 56%;
  bottom:64.5%;
  font-size: 1.5rem;  
}
.clock ul li:nth-child(2){
  left: 76%;
  top:15%;
  font-size: 1.5rem;  
}
.clock ul li:nth-child(3){
  right: 1%;
  top:calc(50% - 10px);
  left:80%;
  color:#000;
  font-size: 2rem;
  font-weight: bold;
}
.clock ul li:nth-child(4){
  left: 72%;
  top:75%;
  font-size: 1.5rem;  
}
.clock ul li:nth-child(5){
  left: 53%;
  top:90%;
  font-size: 1.5rem;  
}
.clock ul li:nth-child(6){
  top:calc(99% - 20px);
  right:30%;
  color:#000;
  font-size: 2rem;
  font-weight: bold;
   
}
.clock ul li:nth-child(7){
  right: 54%;
  top:90%;
  font-size: 1.5rem;  
}
.clock ul li:nth-child(8){
  left:-10%;
  top:75%;
  font-size: 1.5rem;  
}
.clock ul li:nth-child(9){
  right: 80%;
  top:calc(50% - 10px);
  color:#000;
  font-size: 2rem;
  font-weight: bold;
}
.clock ul li:nth-child(10){
  font-size: 1.5rem;
  right: 76%;
  top:15%;
}
.clock ul li:nth-child(11){
  left: 4%;
  top:-4.5%;
   font-size: 1.5rem;     
}
.clock ul li:nth-child(12){
  right: calc(50% - 10px);
  bottom:70%;
  left:30%;
  color:#000;
  font-size: 2rem;
  font-weight: bold;
}

    .center{
      background-color: #000;
      position: absolute;
      left: calc(50% - 10px);
      top:  calc(50% - 10px);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      z-index: 20;
    }
    


/*Digital Clock*/

.digital-clock{
  color:red;
  text-align: center;
  font-size: 125%;
  background-color: #fff;
  position: absolute;
  left:20%;
  top:42%;
  width: 281px;
  height: 46px;
  padding: 5px;
  border: 1px solid #fff8dc;
  display: block;
  box-shadow: inset 0px 2px 5px 
}



@font-face{
  font-family:digital-7;
  src: url(fonts/digital-7.ttf);
}



     

